@import url('font-awesome.min.css');
@font-face {
    font-family: latoLight;
    src: url('Lato-Light.ttf');
}
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'LatoLight';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.container {
    width: 60%;
    margin: 0 auto;
}

body header {
    padding: 3% 0;
    text-align: center;
}

body header figure {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

header figure img {
    width: 100%;
    border-radius: 50%;
}

header p {
    font-size: 1em;
    margin: .1em 0 .6em;
    display: inline-block;
    font-style: italic;
    padding: 6px 10px;
    background: #FAF46A;
    color: #345;
    color: rgba(0,0,0,.7);
    border-radius: 4px;
    line-height: 1;
}

nav ul {
    list-style-type: none;
    position: relative;
    max-width: 350px;
    width: 33.33%;
    margin: 0 auto;
    height: 100px;
}

nav ul:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

nav ul li {
    font-weight: bold;
    font-size: 2.7em;
    letter-spacing: -2px;
    font-family: Helvetica;
    display: inline-block;
    padding: 10px;
    visibility: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #D0DADC;
    transition: all 0.5s ease 0.5s;
}

.menu-left {
    left: -100%;
    visibility: visible;
}

.menu-right {
    left: 100%;
    visibility: visible;
}

.menu-active {
    left: 0%;
    visibility: visible;
    color: #345;
}

.user-icon {
    font-size: 16px;
    margin-right: 14px;
    line-height: 39px;
    text-align: center;
    color: #B7C6C9;
    background: #fff;
    border-radius: 50%;
    border: 4px solid #F4F6F7;
    display: inline-block;
    width: 47px;
}

.section-title {
    position: relative;
    margin-bottom: 1em;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    width: 85%;
}

.section-title:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 3px;
    width: 100%;
    border-bottom: 4px solid #F4F6F7;
}

.section-title span {
    position: relative;
    display: inline-block;
    padding-right: 1.4em;
    background: #fff;
}
.message {
    padding: 10px;
    width: 80%;
}

.message h2 {
    margin: 15px 0;
}

.change-words .word {
    position: absolute;
    opacity: 0;
}

.word {
    font-weight: 800;
    letter-spacing: -1px;
    padding: 1px 0 0 0;
    font-family: Helvetica;
}

.change-words .word:first-child {
    opacity: 1;
}

.word.show {
    animation: showWord .5s linear forwards;
}

.word.hide {
    animation: hideWord .5s linear forwards;
}

@keyframes showWord {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hideWord {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

.section-container {
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
    min-height: 100%;
}
.section-container section {
    width: 80%;
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 0;
    left: 10%;
    visibility: hidden;
    transition: all 0.5s ease 0.5s;
}

.section-container section.active {
    visibility: visible;
}

.section-container section.left {
    left: 100%;
    visibility: visible;
}

.section-container section.right {
    left: 100%;
    visibility: visible;
}
