@font-face {
    font-family: latoLight;
    src: url('Lato-Light.ttf');
}
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'LatoLight';
}

body header {
    padding: 3% 0 5% 0;
    text-align: center;
}

body header figure {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background: #000;
}

nav ul {
    list-style-type: none;
    position: relative;
    max-width: 350px;
    width: 33.33%;
    margin: 0 auto;
}

nav ul:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

nav ul li {
    font-weight: bold;
    font-size: 2.7em;
    letter-spacing: -2px;
    font-family: Helvetica;
    display: inline-block;
    padding: 10px;
    visibility: hidden;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #D0DADC;
    
}

.menu-left {
    left: -100%;
    visibility: visible;
}

.menu-right {
    left: 100%;
    visibility: visible;
}

.menu-active {
    left: 0%;
    visibility: visible;
    color: #345;
}
